// Fonts
$f-b-r: 'Bahnschrift Regular', sans-serif;
$f-b-l: 'Bahnschrift Light', sans-serif;
$f-b-b: 'Bahnschrift Bold', sans-serif;

// Colors
$white: #f8fafc;
$light: #fdf9f9;
$dark: #132432;
$grey: #5b5c5e;
$grey-2: #72797f;
$accent: #f97e14;
